appdirs==1.4.4
astroid==2.4.2
certifi==2020.6.20
colorama==0.4.3
cycler==0.10.0
distlib==0.3.1
filelock==3.0.12
heartpy==1.2.6
importlib-metadata==1.7.0
isort==4.3.21
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
matplotlib==3.3.1
mccabe==0.6.1
numpy==1.19.1
pandas==1.1.0
patsy==0.5.1
Pillow==7.2.0
pylint==2.5.3
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
scipy==1.5.2
selenium==3.141.0
six==1.15.0
statsmodels==0.11.1
toml==0.10.1
typed-ast==1.4.1
urllib3==1.25.10
virtualenv==20.0.30
wrapt==1.12.1
zipp==3.1.0
